In [ ]:
import pandas as pd

In [38]:
df=pd.read_excel('C:/Users/user/Downloads/RNAseq_result.xlsx')

In [39]:
df.head(2)

,Unnamed: 0,target_id,WT1,WT2,WT3,Treat1,Treat2,Treat3,Treat4,Treat5,Treat6
0,0,ENSMUST00000177564.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,ENSMUST00000196221.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## 실습-데이터클리닝
1. 의미 없는 데이터를 제거하기
1. 유전자 발현이 있는 데이터만 남기기(모두 0인 값 제거)
1. Treat 1-4, 2-5, 3-6은 비슷한 데이터이므로 평균값만 남기기
1. 결측치가 있으면 해당 row는 제거함

의미 없는 데이터: 인덱스, unnamed:0, 모두 0인 값, 해당 row

In [40]:
df=df.drop('Unnamed: 0', axis=1) #drpo-지우는 함수, 지울이름, 축(axis))

In [41]:
df

,target_id,WT1,WT2,WT3,Treat1,Treat2,Treat3,Treat4,Treat5,Treat6
0,ENSMUST00000177564.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,ENSMUST00000196221.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,ENSMUST00000179664.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,ENSMUST00000178537.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,ENSMUST00000178862.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
109277,ENSMUST00000181902.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109278,ENSMUST00000181878.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109279,ENSMUST00000201504.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109280,ENSMUST00000200975.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109281,ENSMUST00000202689.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [42]:
for i in df.index:
    df.loc[i]

In [43]:
df.iloc[i,1:]

WT1       0.0
WT2       0.0
WT3       0.0
Treat1    0.0
Treat2    0.0
Treat3    0.0
Treat4    0.0
Treat5    0.0
Treat6    0.0
Name: 109281, dtype: object

In [44]:
df.iloc[15,1:].sum()==0

True

In [45]:
mask = []

for i in df.index:
    if df.iloc[i,1:].sum() == 0:
        mask.append(True)
    else:
        mask.append(False)

In [48]:
df = df[[not m for m in mask]]

In [49]:
df

,target_id,WT1,WT2,WT3,Treat1,Treat2,Treat3,Treat4,Treat5,Treat6
45,ENSMUST00000181038.2,0.000000,0.000000,0.000000,0.250503,0.000000,0.000000,0.000000,0.000000,0.000000
60,ENSMUST00000103671.3,0.996169,0.987738,0.000000,2.811730,1.194940,0.000000,2.058330,0.787184,0.000000
61,ENSMUST00000103672.8,0.000000,0.000000,0.000000,0.000000,0.000000,0.672287,0.000000,0.000000,0.000000
64,ENSMUST00000186573.1,0.000000,0.000000,0.000000,0.000000,0.567775,0.000000,0.000000,0.000000,0.000000
112,ENSMUST00000198439.4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.831106,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...
109264,ENSMUST00000203119.1,0.391729,0.366172,1.107410,1.084320,0.914316,0.106279,0.122030,0.115507,0.571306
109265,ENSMUST00000202716.1,0.000000,0.000000,0.000000,0.073928,0.000000,0.000000,0.000000,0.000000,0.000000
109268,ENSMUST00000201265.1,0.000000,0.000000,0.346987,0.000000,0.000000,0.000000,0.454928,0.000000,0.023695
109269,ENSMUST00000215012.1,0.000000,0.000000,0.000000,1.421800,0.000000,0.000000,0.000000,0.000000,0.000000
109272,ENSMUST00000202219.1,0.000000,0.000000,0.000000,0.000000,0.019346,0.006759,0.000000,0.000000,0.000000

In [50]:
df[['Treat1','Treat4']]

          Treat1    Treat4
45      0.250503  0.000000
60      2.811730  2.058330
61      0.000000  0.000000
64      0.000000  0.000000
112     0.000000  0.831106
...          ...       ...
109264  1.084320  0.122030
109265  0.073928  0.000000
109268  0.000000  0.454928
109269  1.421800  0.000000
109272  0.000000  0.000000

[81845 rows x 2 columns]

In [52]:
df[['Treat1','Treat4']].mean(axis=1) #평균

45        0.125251
60        2.435030
61        0.000000
64        0.000000
112       0.415553
            ...
109264    0.603175
109265    0.036964
109268    0.227464
109269    0.710900
109272    0.000000
Length: 81845, dtype: float64

In [54]:
df['Treat1_4_mean']=df[['Treat1','Treat4']].mean(axis=1)

C:\Users\user\AppData\Local\Temp\ipykernel_4800\1064316176.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Treat1_4_mean']=df[['Treat1','Treat4']].mean(axis=1)

In [55]:
df

,target_id,WT1,WT2,WT3,Treat1,Treat2,Treat3,Treat4,Treat5,Treat6,Treat1_4_mean
45,ENSMUST00000181038.2,0.000000,0.000000,0.000000,0.250503,0.000000,0.000000,0.000000,0.000000,0.000000,0.125251
60,ENSMUST00000103671.3,0.996169,0.987738,0.000000,2.811730,1.194940,0.000000,2.058330,0.787184,0.000000,2.435030
61,ENSMUST00000103672.8,0.000000,0.000000,0.000000,0.000000,0.000000,0.672287,0.000000,0.000000,0.000000,0.000000
64,ENSMUST00000186573.1,0.000000,0.000000,0.000000,0.000000,0.567775,0.000000,0.000000,0.000000,0.000000,0.000000
112,ENSMUST00000198439.4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.831106,0.000000,0.000000,0.415553
...,...,...,...,...,...,...,...,...,...,...,...
109264,ENSMUST00000203119.1,0.391729,0.366172,1.107410,1.084320,0.914316,0.106279,0.122030,0.115507,0.571306,0.603175
109265,ENSMUST00000202716.1,0.000000,0.000000,0.000000,0.073928,0.000000,0.000000,0.000000,0.000000,0.000000,0.036964
109268,ENSMUST00000201265.1,0.000000,0.000000,0.346987,0.000000,0.000000,0.000000,0.454928,0.000000,0.023695,0.227464
109269,ENSMUST00000215012.1,0.000000,0.000000,0.000000,1.421800,0.000000,0.000000,0.000000,0.000000,0.000000,0.710900
109272,ENSMUST00000202219.1,0.000000,0.000000,0.000000,0.000000,0.019346,0.006759,0.000000,0.000000,0.000000,0.000000

In [80]:
df=df.drop(['Treat1','Treat4'],axis=1)

KeyError: "['Treat1', 'Treat4'] not found in axis"

In [60]:
df.isna() #난값만 처리

,target_id,WT1,WT2,WT3,Treat2,Treat3,Treat5,Treat6,Treat1_4_mean
45,False,False,False,False,False,False,False,False,False
60,False,False,False,False,False,False,False,False,False
61,False,False,False,False,False,False,False,False,False
64,False,False,False,False,False,False,False,False,False
112,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
109264,False,False,False,False,False,False,False,False,False
109265,False,False,False,False,False,False,False,False,False
109268,False,False,False,False,False,False,False,False,False
109269,False,False,False,False,False,False,False,False,False
109272,False,False,False,False,False,False,False,False,False

In [62]:
df.isnull()

,target_id,WT1,WT2,WT3,Treat2,Treat3,Treat5,Treat6,Treat1_4_mean
45,False,False,False,False,False,False,False,False,False
60,False,False,False,False,False,False,False,False,False
61,False,False,False,False,False,False,False,False,False
64,False,False,False,False,False,False,False,False,False
112,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
109264,False,False,False,False,False,False,False,False,False
109265,False,False,False,False,False,False,False,False,False
109268,False,False,False,False,False,False,False,False,False
109269,False,False,False,False,False,False,False,False,False
109272,False,False,False,False,False,False,False,False,False

In [63]:
df

,target_id,WT1,WT2,WT3,Treat2,Treat3,Treat5,Treat6,Treat1_4_mean
45,ENSMUST00000181038.2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.125251
60,ENSMUST00000103671.3,0.996169,0.987738,0.000000,1.194940,0.000000,0.787184,0.000000,2.435030
61,ENSMUST00000103672.8,0.000000,0.000000,0.000000,0.000000,0.672287,0.000000,0.000000,0.000000
64,ENSMUST00000186573.1,0.000000,0.000000,0.000000,0.567775,0.000000,0.000000,0.000000,0.000000
112,ENSMUST00000198439.4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.415553
...,...,...,...,...,...,...,...,...,...
109264,ENSMUST00000203119.1,0.391729,0.366172,1.107410,0.914316,0.106279,0.115507,0.571306,0.603175
109265,ENSMUST00000202716.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.036964
109268,ENSMUST00000201265.1,0.000000,0.000000,0.346987,0.000000,0.000000,0.000000,0.023695,0.227464
109269,ENSMUST00000215012.1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.710900
109272,ENSMUST00000202219.1,0.000000,0.000000,0.000000,0.019346,0.006759,0.000000,0.000000,0.000000

## 실습-실제 데이터 전처리
* 어느 센터에서
* 어떤 강좌를
* 누가
* 얼마나
* 누구한테 
진행했는지 정리해보시오: 데이터프레임 형태로 나타낼 것

In [77]:
df=pd.read_csv('C:/Users/user/Desktop/시청자미디어재단_체험형미디어교육_20221109.csv', encoding='cp949')

In [78]:
df['센터명'].unique()

array(['서울시청자미디어센터', '울산시청자미디어센터', '강원시청자미디어센터', '대전시청자미디어센터',
       '광주시청자미디어센터', '부산시청자미디어센터', '인천시청자미디어센터', '충북시청자미디어센터'],
      dtype=object)

In [79]:
df['강좌명'].unique()

array(['상설미디어체험 교육', '찾아가는미디어나눔버스 체험 교육', '찾아가는미디어나눔버스 체험', '미디어 체험 교육',
       '생방송톡톡TV', 'DJ수다박스', '초록세상마법학교', '오늘은NEWS데이', '찰칵애니',
       '미고의 미디어 탐방기', '우리반데이터만들기', '알듯말듯 알고리즘 알려줄게 알고리즘', '무지개TV',
       '꼼지락뉴스', '폴리체험', 'VR체험', '나눔버스_천안시청 교육청소년과', '센터_대전광역시노인복지관',
       '센터_청소년정책연구원', '미디어체험', '온라인미디어체험(ZOOM)', '드림러너', '상설미디어체험',
       '라디오체험', 'TV뉴스체험', '스톱모션 제작 체험', '크로마키체험', '찾아가는 미디어나눔버스(TV뉴스체험)',
       'TV체험(뉴스체험)', '라디오체험(DJ체험)', '유아 크로마키 체험', 'AI 체험'], dtype=object)

In [76]:
df

,센터명,강좌명,강사명,교육시작일자,교육종료일자,강좌내용,교육대상구분,교육방법구분,운영요일,강좌정원수,데이터기준일자
0,서울시청자미디어센터,상설미디어체험 교육,"이수현,김민호",2022-11-12,2022-11-26,상설미디어체험(뉴스앵커체험 등),일반,오프라인,토,25,2022-11-09
1,서울시청자미디어센터,찾아가는미디어나눔버스 체험 교육,"김도경,이수현",2022-11-21,2022-11-21,찾아가는미디어나눔버스 체험,청소년,오프라인,월,25,2022-11-09
2,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-22,2022-11-22,찾아가는미디어나눔버스 체험,청소년,오프라인,화,25,2022-11-09
3,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-23,2022-11-23,찾아가는미디어나눔버스 체험,청소년,오프라인,수,25,2022-11-09
4,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-25,2022-11-25,찾아가는미디어나눔버스 체험,청소년,오프라인,금,25,2022-11-09
...,...,...,...,...,...,...,...,...,...,...,...
94,인천시청자미디어센터,찾아가는 미디어나눔버스(TV뉴스체험),"류은애,김은자",2022-11-30,2022-11-30,TV 뉴스 제작 및 영상합성 크로마키 체험,중학생,오프라인,수,25,2022-11-09
95,충북시청자미디어센터,TV체험(뉴스체험),미정,2022-11-01,2022-11-30,"아나운서, 기자, 기상캐스터 등 역할을 나누어 뉴스 제작 과정을 체험해보는 프로그램",초등학생 이상,오프라인,"월,화,수,목,금,토",15,2022-11-09
96,충북시청자미디어센터,라디오체험(DJ체험),미정,2022-11-01,2022-11-30,"라디오 프로그램을 작가, DJ, 게스트가 되어 라디오 프로그램을 제작해보는 체험",초등학생 이상,오프라인,"월,화,수,목,금,토",15,2022-11-09
97,충북시청자미디어센터,유아 크로마키 체험,미정,2022-11-01,2022-11-30,유아 대상 크로마키를 통해 다양한 놀이를 해보는 체험,6~7세,오프라인,"월,화,수,목,금,토",15,2022-11-09
98,충북시청자미디어센터,AI 체험,미정,2022-11-01,2022-11-30,인공지능에 대해 이해하고 머신러닝을 여러 방법으로 알아보는 체험,초등학생 이상,오프라인,"월,화,수,목,금,토",15,2022-11-09

In [86]:
df[['센터명','강좌명','강사명','교육시작일자','교육종료일자','교육대상구분']]

           센터명                   강좌명      강사명      교육시작일자      교육종료일자   교육대상구분
0   서울시청자미디어센터            상설미디어체험 교육  이수현,김민호  2022-11-12  2022-11-26       일반
1   서울시청자미디어센터     찾아가는미디어나눔버스 체험 교육  김도경,이수현  2022-11-21  2022-11-21      청소년
2   서울시청자미디어센터        찾아가는미디어나눔버스 체험  김도경,이수현  2022-11-22  2022-11-22      청소년
3   서울시청자미디어센터        찾아가는미디어나눔버스 체험  김도경,이수현  2022-11-23  2022-11-23      청소년
4   서울시청자미디어센터        찾아가는미디어나눔버스 체험  김도경,이수현  2022-11-25  2022-11-25      청소년
..         ...                   ...      ...         ...         ...      ...
94  인천시청자미디어센터  찾아가는 미디어나눔버스(TV뉴스체험)  류은애,김은자  2022-11-30  2022-11-30      중학생
95  충북시청자미디어센터            TV체험(뉴스체험)       미정  2022-11-01  2022-11-30  초등학생 이상
96  충북시청자미디어센터           라디오체험(DJ체험)       미정  2022-11-01  2022-11-30  초등학생 이상
97  충북시청자미디어센터            유아 크로마키 체험       미정  2022-11-01  2022-11-30     6~7세
98  충북시청자미디어센터                 AI 체험       미정  2022-11-01  2022-11-30  초등학생 이상

[99 rows x 6 columns]

In [87]:
df['센터명'].unique()

array(['서울시청자미디어센터', '울산시청자미디어센터', '강원시청자미디어센터', '대전시청자미디어센터',
       '광주시청자미디어센터', '부산시청자미디어센터', '인천시청자미디어센터', '충북시청자미디어센터'],
      dtype=object)

In [88]:
df

,센터명,강좌명,강사명,교육시작일자,교육종료일자,강좌내용,교육대상구분,교육방법구분,운영요일,강좌정원수,데이터기준일자
0,서울시청자미디어센터,상설미디어체험 교육,"이수현,김민호",2022-11-12,2022-11-26,상설미디어체험(뉴스앵커체험 등),일반,오프라인,토,25,2022-11-09
1,서울시청자미디어센터,찾아가는미디어나눔버스 체험 교육,"김도경,이수현",2022-11-21,2022-11-21,찾아가는미디어나눔버스 체험,청소년,오프라인,월,25,2022-11-09
2,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-22,2022-11-22,찾아가는미디어나눔버스 체험,청소년,오프라인,화,25,2022-11-09
3,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-23,2022-11-23,찾아가는미디어나눔버스 체험,청소년,오프라인,수,25,2022-11-09
4,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-25,2022-11-25,찾아가는미디어나눔버스 체험,청소년,오프라인,금,25,2022-11-09
...,...,...,...,...,...,...,...,...,...,...,...
94,인천시청자미디어센터,찾아가는 미디어나눔버스(TV뉴스체험),"류은애,김은자",2022-11-30,2022-11-30,TV 뉴스 제작 및 영상합성 크로마키 체험,중학생,오프라인,수,25,2022-11-09
95,충북시청자미디어센터,TV체험(뉴스체험),미정,2022-11-01,2022-11-30,"아나운서, 기자, 기상캐스터 등 역할을 나누어 뉴스 제작 과정을 체험해보는 프로그램",초등학생 이상,오프라인,"월,화,수,목,금,토",15,2022-11-09
96,충북시청자미디어센터,라디오체험(DJ체험),미정,2022-11-01,2022-11-30,"라디오 프로그램을 작가, DJ, 게스트가 되어 라디오 프로그램을 제작해보는 체험",초등학생 이상,오프라인,"월,화,수,목,금,토",15,2022-11-09
97,충북시청자미디어센터,유아 크로마키 체험,미정,2022-11-01,2022-11-30,유아 대상 크로마키를 통해 다양한 놀이를 해보는 체험,6~7세,오프라인,"월,화,수,목,금,토",15,2022-11-09
98,충북시청자미디어센터,AI 체험,미정,2022-11-01,2022-11-30,인공지능에 대해 이해하고 머신러닝을 여러 방법으로 알아보는 체험,초등학생 이상,오프라인,"월,화,수,목,금,토",15,2022-11-09

In [89]:
df['강좌명'].unique()

array(['상설미디어체험 교육', '찾아가는미디어나눔버스 체험 교육', '찾아가는미디어나눔버스 체험', '미디어 체험 교육',
       '생방송톡톡TV', 'DJ수다박스', '초록세상마법학교', '오늘은NEWS데이', '찰칵애니',
       '미고의 미디어 탐방기', '우리반데이터만들기', '알듯말듯 알고리즘 알려줄게 알고리즘', '무지개TV',
       '꼼지락뉴스', '폴리체험', 'VR체험', '나눔버스_천안시청 교육청소년과', '센터_대전광역시노인복지관',
       '센터_청소년정책연구원', '미디어체험', '온라인미디어체험(ZOOM)', '드림러너', '상설미디어체험',
       '라디오체험', 'TV뉴스체험', '스톱모션 제작 체험', '크로마키체험', '찾아가는 미디어나눔버스(TV뉴스체험)',
       'TV체험(뉴스체험)', '라디오체험(DJ체험)', '유아 크로마키 체험', 'AI 체험'], dtype=object)

In [98]:
df['강좌명']=df['강좌명'].apply(lambda x: '찾아가는미디어나눔버스 체험' if '찾아가는미디어나눔버스 체험' in x else x)

In [100]:
df

,센터명,강좌명,강사명,교육시작일자,교육종료일자,강좌내용,교육대상구분,교육방법구분,운영요일,강좌정원수,데이터기준일자
0,서울시청자미디어센터,상설미디어체험 교육,"이수현,김민호",2022-11-12,2022-11-26,상설미디어체험(뉴스앵커체험 등),일반,오프라인,토,25,2022-11-09
1,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-21,2022-11-21,찾아가는미디어나눔버스 체험,청소년,오프라인,월,25,2022-11-09
2,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-22,2022-11-22,찾아가는미디어나눔버스 체험,청소년,오프라인,화,25,2022-11-09
3,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-23,2022-11-23,찾아가는미디어나눔버스 체험,청소년,오프라인,수,25,2022-11-09
4,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-25,2022-11-25,찾아가는미디어나눔버스 체험,청소년,오프라인,금,25,2022-11-09
...,...,...,...,...,...,...,...,...,...,...,...
94,인천시청자미디어센터,찾아가는 미디어나눔버스(TV뉴스체험),"류은애,김은자",2022-11-30,2022-11-30,TV 뉴스 제작 및 영상합성 크로마키 체험,중학생,오프라인,수,25,2022-11-09
95,충북시청자미디어센터,TV체험(뉴스체험),미정,2022-11-01,2022-11-30,"아나운서, 기자, 기상캐스터 등 역할을 나누어 뉴스 제작 과정을 체험해보는 프로그램",초등학생 이상,오프라인,"월,화,수,목,금,토",15,2022-11-09
96,충북시청자미디어센터,라디오체험(DJ체험),미정,2022-11-01,2022-11-30,"라디오 프로그램을 작가, DJ, 게스트가 되어 라디오 프로그램을 제작해보는 체험",초등학생 이상,오프라인,"월,화,수,목,금,토",15,2022-11-09
97,충북시청자미디어센터,유아 크로마키 체험,미정,2022-11-01,2022-11-30,유아 대상 크로마키를 통해 다양한 놀이를 해보는 체험,6~7세,오프라인,"월,화,수,목,금,토",15,2022-11-09
98,충북시청자미디어센터,AI 체험,미정,2022-11-01,2022-11-30,인공지능에 대해 이해하고 머신러닝을 여러 방법으로 알아보는 체험,초등학생 이상,오프라인,"월,화,수,목,금,토",15,2022-11-09

In [106]:
df['강사명'].unique()

array(['이수현,김민호', '김도경,이수현', '전윤겸', '정혜영', '박민주', '김은희', '장미경', '김현주',
       '도현아', '곽은민', '김윤아', '손영주,윤기숙,정선애,이나미', '윤기숙,정선애', '장정우,최영은',
       '김선희외2', '김수현외1', '김은수외3', '미정', '김은미', '백진영,이희주', '류은애,김은자',
       '백진영,김은자', '이두인,이희주', '박희영,이성희'], dtype=object)

In [107]:
df['강사명'].apply(lambda x: '기타' if x=='미정' else x)

0     이수현,김민호
1     김도경,이수현
2     김도경,이수현
3     김도경,이수현
4     김도경,이수현
       ...
94    류은애,김은자
95         기타
96         기타
97         기타
98         기타
Name: 강사명, Length: 99, dtype: object

In [108]:
df

,센터명,강좌명,강사명,교육시작일자,교육종료일자,강좌내용,교육대상구분,교육방법구분,운영요일,강좌정원수,데이터기준일자
0,서울시청자미디어센터,상설미디어체험 교육,"이수현,김민호",2022-11-12,2022-11-26,상설미디어체험(뉴스앵커체험 등),일반,오프라인,토,25,2022-11-09
1,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-21,2022-11-21,찾아가는미디어나눔버스 체험,청소년,오프라인,월,25,2022-11-09
2,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-22,2022-11-22,찾아가는미디어나눔버스 체험,청소년,오프라인,화,25,2022-11-09
3,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-23,2022-11-23,찾아가는미디어나눔버스 체험,청소년,오프라인,수,25,2022-11-09
4,서울시청자미디어센터,찾아가는미디어나눔버스 체험,"김도경,이수현",2022-11-25,2022-11-25,찾아가는미디어나눔버스 체험,청소년,오프라인,금,25,2022-11-09
...,...,...,...,...,...,...,...,...,...,...,...
94,인천시청자미디어센터,찾아가는 미디어나눔버스(TV뉴스체험),"류은애,김은자",2022-11-30,2022-11-30,TV 뉴스 제작 및 영상합성 크로마키 체험,중학생,오프라인,수,25,2022-11-09
95,충북시청자미디어센터,TV체험(뉴스체험),미정,2022-11-01,2022-11-30,"아나운서, 기자, 기상캐스터 등 역할을 나누어 뉴스 제작 과정을 체험해보는 프로그램",초등학생 이상,오프라인,"월,화,수,목,금,토",15,2022-11-09
96,충북시청자미디어센터,라디오체험(DJ체험),미정,2022-11-01,2022-11-30,"라디오 프로그램을 작가, DJ, 게스트가 되어 라디오 프로그램을 제작해보는 체험",초등학생 이상,오프라인,"월,화,수,목,금,토",15,2022-11-09
97,충북시청자미디어센터,유아 크로마키 체험,미정,2022-11-01,2022-11-30,유아 대상 크로마키를 통해 다양한 놀이를 해보는 체험,6~7세,오프라인,"월,화,수,목,금,토",15,2022-11-09
98,충북시청자미디어센터,AI 체험,미정,2022-11-01,2022-11-30,인공지능에 대해 이해하고 머신러닝을 여러 방법으로 알아보는 체험,초등학생 이상,오프라인,"월,화,수,목,금,토",15,2022-11-09

In [109]:
df['강사명'].apply(lambda x: if '외' x in else x)

SyntaxError: invalid syntax (3801284378.py, line 1)

In [110]:
df['강사명'].apply(lambda x: x.split('외') if '외' x in else x)

SyntaxError: invalid syntax (204078266.py, line 1)

In [111]:
df['교육시작일자']

0     2022-11-12
1     2022-11-21
2     2022-11-22
3     2022-11-23
4     2022-11-25
         ...
94    2022-11-30
95    2022-11-01
96    2022-11-01
97    2022-11-01
98    2022-11-01
Name: 교육시작일자, Length: 99, dtype: object

In [112]:
df['교육시작일자'].apply(lambda x: x.split('-')[-1])

0     12
1     21
2     22
3     23
4     25
      ..
94    30
95    01
96    01
97    01
98    01
Name: 교육시작일자, Length: 99, dtype: object

In [117]:
df['교육종료일자']=df['교육종료일자'].apply(lambda x: int(x.split('-')[-1])

SyntaxError: unexpected EOF while parsing (2898733480.py, line 1)

In [118]:
df['교육종료일자']-df['교육종료일자']+1

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [122]:
df['교육기간']=df['교육종료일자']-df['교육시작일자']+1

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [124]:
df['교육대상구분'].unique()

array(['일반', '청소년', '유아', '초등학생', '미취학', '중학생', '유아,아동', '초등학생 이상',
       '중고등학생', '노인(65세~)', '모든연령', '고등학생', '지역주민', '고등학생,장애인', '성인',
       '대학생', '성인,장애인', '중학생,장애인', '6~7세'], dtype=object)

In [ ]:
어느 센터에서
어떤 강좌를
누가
얼마나
누구한테 진행했는지 정리해보시오: 데이터프레임 형태로 나타낼 것

In [128]:
df[['센터명','강좌명','강사명','교육시작일자','교육종료일자','교육대상구분']]

           센터명                   강좌명      강사명      교육시작일자      교육종료일자   교육대상구분
0   서울시청자미디어센터            상설미디어체험 교육  이수현,김민호  2022-11-12  2022-11-26       일반
1   서울시청자미디어센터        찾아가는미디어나눔버스 체험  김도경,이수현  2022-11-21  2022-11-21      청소년
2   서울시청자미디어센터        찾아가는미디어나눔버스 체험  김도경,이수현  2022-11-22  2022-11-22      청소년
3   서울시청자미디어센터        찾아가는미디어나눔버스 체험  김도경,이수현  2022-11-23  2022-11-23      청소년
4   서울시청자미디어센터        찾아가는미디어나눔버스 체험  김도경,이수현  2022-11-25  2022-11-25      청소년
..         ...                   ...      ...         ...         ...      ...
94  인천시청자미디어센터  찾아가는 미디어나눔버스(TV뉴스체험)  류은애,김은자  2022-11-30  2022-11-30      중학생
95  충북시청자미디어센터            TV체험(뉴스체험)       미정  2022-11-01  2022-11-30  초등학생 이상
96  충북시청자미디어센터           라디오체험(DJ체험)       미정  2022-11-01  2022-11-30  초등학생 이상
97  충북시청자미디어센터            유아 크로마키 체험       미정  2022-11-01  2022-11-30     6~7세
98  충북시청자미디어센터                 AI 체험       미정  2022-11-01  2022-11-30  초등학생 이상

[99 rows x 6 columns]

## 과제: 데이터 처리하기-제주시 데이터
1. 행정시별로 몇 개의 데이터가 있는지 표기하기
1. 가맹점명을 가나다 순서(오름차순, 한글-영문-숫자-특문)으로 정렬하기
1. 전화번호에서 중간 번호가 600번대인 것과 700번대인 것 중 어느 것이 많은지 확인하기
1. 주소를 각 길 단위로 남기기

In [130]:
import pandas as pd

In [131]:
df=pd.read_csv('C:/Users/user/Downloads/제주특별자치도_아동급식카드가맹점현황_20220331.csv', encoding='cp949')

In [132]:
df

        행정시         가맹점명          전화번호                         주소     데이터기준일자
0       제주시        인디언썸머  064-678-4208    제주특별자치도 제주시 애월읍 애월로4길 9  2022-03-31
1      서귀포시     애월연어 안덕점  064-692-6607  제주특별자치도 서귀포시 안덕면 산록남로 684  2022-03-31
2       제주시  남가네설악추어탕도련점  064-702-0009        제주특별자치도 제주시 삼봉로 134  2022-03-31
3       제주시          레인원  064-702-0014        제주특별자치도 제주시 무근성7길 6  2022-03-31
4       제주시          권주가  064-702-0022         제주특별자치도 제주시 천수로 82  2022-03-31
...     ...          ...           ...                        ...         ...
18349   제주시     코끼리휴게소점빵           NaN         제주특별자치도 제주시 흥운길 73  2022-03-31
18350   제주시       화산2020           NaN         제주특별자치도 제주시 흥운길 85  2022-03-31
18351   제주시        이스방한상           NaN         제주특별자치도 제주시 흥운길 87  2022-03-31
18352   제주시          무용담           NaN         제주특별자치도 제주시 흥운길 91  2022-03-31
18353   제주시         예그리나           NaN         제주특별자치도 제주시 흥운길 93  2022-03-31

[18354 rows x 5 columns]